{% extends "base.html.twig" %}
{% block body %}
    <div class="container_apprenticeship">
        <div class="bloc_shop">
            <div class="shop_paris">
                <div class="title">
                    <h3>Paris</h3>
                </div>
                <div class="img">
                    <img class="img_shop" src="{{ asset('img/playin-paris.png') }}" alt="playin-paris.png">
                </div>
            </div>
            <div class="shop_annecy">
                <div class="title">
                    <h3>Annecy</h3>
                </div>
                <div class="img">
                    <img class="img_shop" src="{{ asset('img/playin-annecy.png') }}" alt="playin-annecy.png">
                </div>
            </div>
        </div>
        <div class="bloc_site">
            <div class="site">
                <div class="title">
                    <h3>Page d'accueil du site</h3>
                </div>
                <div class="img">
                    <img class="img_site" src="{{ asset('img/playin-site-home.png') }}" alt="playin-site-home.png">
                </div>
            </div>   
        </div>

    </div>
{% endblock %}