{% extends "base.html.twig" %}
{% block body %}
    <div class="container_apprenticeship">
        <div class="bloc_site">
            <div class="site">
                <div class="title">
                    <h3>Fiche produit du site</h3>
                </div>
                <div class="img">
                    <img class="img_site" src="{{ asset('img/playin-fiche-produit.png') }}" alt="playin-fiche-produit.png">
                </div>
            </div>   
        </div>
        <div class="bloc_site">
            <div class="site">
                <div class="title">
                    <h3>Liste des avis clients d'un produit</h3>
                </div>
                <div class="img">
                    <img class="img_site" src="{{ asset('img/playin-liste-avis.png') }}" alt="playin-liste-avis.png">
                </div>
            </div>   
        </div>
        <div class="bloc_site">
            <div class="site">
                <div class="title">
                    <h3>Formulaire de déposition d'avis</h3>
                </div>
                <div class="img">
                    <img class="img_site" src="{{ asset('img/playin-avis-form.png') }}" alt="playin-avis-form.png">
                </div>
            </div>   
        </div>

    </div>
{% endblock %}