{% extends "base.html.twig" %}
{% block body %}

<div class="container_rework">
    <div class="bloc_rework">
        <div class="old_cart">
            <h3>Ancien modèle mobile</h3>
            <img class="img_cart" src="{{ asset('img/playin-old-cart.png') }}" alt="playin-old-cart.png">
        </div>
        <div class="new_cart"> 
            <h3>Nouveau modèle mobile</h3>
            <img class="img_cart" src="{{ asset('img/playin-new-cart.png') }}" alt="playin-new-cart.png">
        </div>
    </div>
</div>


{% endblock %}