{% extends "base.html.twig" %}
{% block body %}
    <div class="container_profil">
        <div class="bloc_info">
            <div class="presentation">
                Je m'appelle Marc Baribaud, j'ai 25 ans et je suis actuellement en deuxième année de BTS SIO (option SLAM) <br>
                à l'école H3 Hitema située sur Issy-les-Moulineaux.<br><br>
                Ce portfolio fut réalisé durant ma seconde année de BTS SIO (Services Informatiques aux Organisations) <br>
                Option SLAM (Développement d'applications).
                <br><br>
            </div>
        </div>
    </div>

    
{% endblock %}