{% extends "base.html.twig" %}
{% block body %}
    <div class="container_experience">
        <div class="bloc_experience">
            <div class="img_entreprise">
                <img class="logo_entreprise" src="{{ asset('img/playin-logo.jpg') }}" alt="playin-logo.jpg">
            </div>
            <div class="info_entreprise">
                <h3>Playin by Magic Bazar</h3>
                <div class="poste">Intitulé du poste : Développeur Back-end </div>
                <div class="type">Type de contrat : Apprentissage </div>
                <div class="duree">Durée : 10 mois </div>
                <div class="periode">Période : Octobre 2020 à Juillet 2021</div>
                <ul class="competence">
                    <li>Projet "Avis clients"</li>
                    <li>Projet "Refonte du panier version mobile"</li>
                    <li>Projet "Favoris" du Back-office</li>
                    <li>Mission "Produit caché"</li>
                    <li>Développement de mails automatique et scripts périodique</li>
                    <li>Rédaction de documentation sur un guide de développement</li>
                    <li>Rédaction de documentation sur le code ajouté</li>
                    <li>Maintien et amélioration du back-office et du front</li>
                    <li>Installation d'un environnement de travail Debian</li>
                </ul>
            </div>
        </div>
        <div class="bloc_experience">
            <div class="img_entreprise">
                <img class="logo_entreprise" src="{{ asset('img/opinaka-logo.png') }}" alt="opinaka.png">
            </div>
            <div class="info_entreprise">
                <h3>Opinaka</h3>
                <div class="poste">Intitulé du poste : Informaticien </div>
                <div class="type">Type de contrat : stage non rémunéré </div>
                <div class="duree">Durée : 5 semaines </div>
                <div class="periode">Période : Juin à Juillet 2020</div>
                <ul class="competence">
                    <li>Réalisation de template à des fins commerciales</li>
                    <li>Amélioration des templates sous Wordpress</li>
                    <li>Regroupement des réalisations dans une base de données</li>
                    <li>Visualisation de ces données sous Kibana et Grafana</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}