{% extends "base.html.twig" %}
{% block body %}
<div class="col container_project">
    <div class="row">
        <h1>Mes projets personnels encadrés</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="bloc_ppe">
                <h4>PPE n° 1</h4>
                <a href="#" class="">PPE1 - Cahier des charges</a>
                <p>Il s'agit là du cahier des charges concernant l</p>
            </div>
        </div>
        <div class="col">
            <div class="bloc_ppe">
                <h4>PPE n° 2</h4>
                <a href="https://btsppe2021.tech/" class="">PPE2 - Gestion fiche des frais</a>
                <p> A REMPLIR </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="bloc_ppe">
                <h4>PPE n° 3</h4>
                <a href="https://btsppe2021.tech/" class="">PPE3 - Gestion compte-rendu</a>
                <p> A REMPLIR </p>
            </div>
        </div>
        <div class="col">
            <div class="bloc_ppe">
                <h4>PPE n° 4</h4>
                <a href="https://github.com/EdouardQ/GSB-android" class="">PPE4 - Application Android GSB</a>
                <p> A REMPLIR </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}