{% extends "base.html.twig" %}
{% block body %}

<div class="container_doc">
    <div class="bloc_ppe">
        <object type="application/pdf" data="{{ asset('pdf/Cahier_des_charges_Quilliou_Baribaud_Groetschel.pdf') }}" id="pdf_ppe1">
                    <p>It appears you don't have a PDF plugin for this browser.
                    No biggie... you can <a href="{{ asset('pdf/Cahier_des_charges_Quilliou_Baribaud_Groetschel.pdf') }}">click here to
                    download the PDF file.</a></p>  
        </object>
    </div>
</div>

{% endblock %}